@use "./color" as color;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: color.$gray;
}

h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}