@use "./../../base/index" as base;

.bl_workTtl {
    a {
        @include base.ff(en);
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.0;
        color: base.$gray;
        padding: 0.75rem;
        background-color: base.$pink;
        border-radius: 2rem;
        margin: 0.5rem auto 0;
        display: block;
        width: fit-content;
        &:hover {
            opacity: 0.8;
        }
    }
}

.bl_workImage {
    width: 100%;
    img {
        width: 100%;
        height: auto;
    }
}

.bl_workDetail {
    &_txt {
        @include base.ff(ja);
        font-size: 1rem;
        line-height: 1.7;
        color: base.$white;
    }
}

.bl_workDetailInfo {
    padding: 2rem;
    background-color: base.$black;
    border-radius: 1rem;
    dt {
        @include base.ff(en);
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.4;
        color: base.$pink;
    }
    dd {
        font-size: 1rem;
        line-height: 1.4;
        color: base.$white;
        margin-top: 0.5rem;
    }
    dd + dt {
        margin-top: 2rem;
    }
    &_labels {
        display: flex;
        justify-content: flex-start;
        margin: -0.5rem -0.25rem;
    }
}