@use "./../base/index" as base;

.ly_header {
    padding: 16px;
}

.ly_header_inner {
    width: base.$sp_width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @include base.mq(xl) {
        width: base.$pc_width;
    }
}