.content {
    width: 100%;
    min-height: calc(100vh - 24px);
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.footer {
    line-height: 1.0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 4px 0;
    box-sizing: border-box;
}